
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.g.props
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.g.props
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.dgspec.json
C\#/WPFD2/WPFD2/obj/project.nuget.cache
C\#/WPFD2/WPFD2/obj/project.assets.json
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2_MarkupCompile.i.lref
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2_MarkupCompile.i.cache
