
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.g.props
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.g.props
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.dgspec.json
C\#/WPFD2/WPFD2/obj/project.nuget.cache
C\#/WPFD2/WPFD2/obj/project.assets.json
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2_MarkupCompile.i.lref
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2_MarkupCompile.i.cache
C\#/CDestiny2/.vs/CDestiny2/v17/.suo
C\#/WPFD2/.vs/WPFD2/DesignTimeBuild/.dtbcache.v2
C\#/WPFD2/.vs/WPFD2/v17/.futdcache.v1
C\#/WPFD2/.vs/WPFD2/v17/.suo
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2.assets.cache
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2.csproj.AssemblyReference.cache
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2.GeneratedMSBuildEditorConfig.editorconfig
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2_MarkupCompile.i.cache
C\#/WPFD2/WPFD2/obj/Debug/net5.0-windows/WPFD2_MarkupCompile.i.lref
C\#/WPFD2/WPFD2/obj/project.assets.json
C\#/WPFD2/WPFD2/obj/project.nuget.cache
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.dgspec.json
C\#/WPFD2/WPFD2/obj/WPFD2.csproj.nuget.g.props
